html {
    background-color: #d9d9d9;
}

.header {
    display: flex;
    align-items: center;
    margin-left: 16px;
}


.topics-table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtopics-table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topic-button {
    background-color: white;
    width: 80%;
    padding: 4px;
    margin-bottom: 16px;
    border-radius: 10px;
    padding-left: 16px;
    
}

.subtopic-container {
    background-color: white;
    width: 80%;
    padding: 4px;
    margin-bottom: 16px;
    border-radius: 10px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    align-items: strech;
}

.icon {
    width:20px;
    height: 20px;
    margin-right: 20px;
}

hr {
    width: 70%;
}

.subtopic-middle-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
}

.code-example-container {
    margin-right: 10px;
}

.notes-container {
    margin-left: 10px;
}

.open-subtopic-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}